.the-founder {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: normal;
  text-align: left;
}

.founder-title {
  font-size: 4rem;
  color: white;
  margin-bottom: 50px;
  margin-left: 150px;
  font-weight: bold;
  font-family: Helvetica;
}

.founder-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 150px;
}

/* .founder-image img {
  width: 1800px;
  height: 700px;
} */

.founder-details {
  flex-grow: 1;
  padding: 50px;
  margin-left: 100px;
}

.founder-name {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  font-family: Helvetica;
}

.founder-designation {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: bold;
  font-family: Helvetica;
}

.founder-description {
  font-size: 1rem; /* Equivalent to text-md */
  color: white;
  margin-bottom: 15px; /* Reduce the gap between paragraphs */
  font-family: Helvetica;
  margin-right: 50px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .founder-content {
    flex-direction: column;
    align-items: center;
  }

  .founder-image img {
    margin-bottom: 30px;
    width: 1800px;
  }

  .founder-title {
    font-size: 2.5rem;
  }

  .founder-name {
    font-size: 2rem;
  }

  .founder-designation {
    font-size: 1.5rem;
  }
}
